*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* shared style */
.flex{
    display: flex;
    justify-content: space-between;
}
/* main styles */
.header{
    max-width: 1600px;
    margin: 0 auto;
}
.navbar{
    /* border: 1px solid; */
    padding: 20px 120px;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    color: #000000;
    font-size: 16px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
}
.navbar button{
    border: none;
    background-color: #469165;
    border-radius: 4px;
    width: 165px;
    height: 45px;
    padding: 13px 16px;
    font-size: 16px;
    color: #FFFFFF;
    /* align-items: center; */
}
